name: Hprofile Actions
on: workflow_dispatch
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      # Setup java 11 to be default (sonar-scanner requirement as of 5.x)
      - name: Set Java 11
        uses: actions/setup-java@v3
        with:
         distribution: 'temurin' # See 'Supported distributions' for available options
         java-version: '11'

      - name: Maven test
        run: mvn clean compile test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle

      # Generate JaCoCo report
      - name: Generate JaCoCo report
        run: mvn jacoco:report

      # Cache Maven packages  
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      # Run SonarCloud analysis using Maven plugin (recommended for Maven projects)
      - name: Analyze with SonarCloud
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=actionscode \
            -Dsonar.organization=hprofile2026 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
